################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tichu/node_modules
/Tichu/bin
/.vs/Tichu/v16
/Tichu/obj/Debug
/Tichu/obj/Release
