.hand .card-shape {
    width: 56px;
    height: 84px;
    margin-left: -40px;
}

.hand-compressed .card-shape {
    width: 56px;
    height: 84px;
    margin-left: -50px;
}


.hand-vertical .card-shape {
    width: 84px;
    height: 56px;
    margin-top: -45px;
    margin-left: 0px;
}

.hand-vertical .card-spacer {
    width: 84px;
    height: 56px;
    margin-top: -40px;
    border: 0px;
    margin-left: 0px;
}

div.hand-vertical {
    width: 84px;
    margin-top: 25px;
    margin-left: 0px;
}

.card-shape {
    width: 56px;
    height: 84px;
}

.card-selected {
    margin-top: -12px;
    margin-bottom: 12px;
}


.sidebar .header {
    font-size: medium;
}

.play-area .left {
    top: 84px;
    left: 16px;
}

.play-area .top {
    top: 16px;
    left: 140px;
}

.play-area .right {
    top: 56px;
    left: 315px;
}

.play-area .bottom {
    top: 182px;
    left: 210px;
}



div.hand {
    margin-bottom: 12px;
}

div .button-row {
    margin-bottom: 12px;
}

div .activehand {
    box-shadow: -12px 0px 25px 10px greenyellow;
}

div .activehandvertical {
    box-shadow: 0px 0px 25px 10px greenyellow;
}