.hand .card {
    width: 80px;
    height: 120px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555;
    float: left;
    margin-left: -40px;
}

.hand-vertical .card-back-rotated {
    width: 120px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555;
    /*float: left;*/
    margin-top: -40px;
    background-image: url("/images/back_rotated.jpg");
    background-position: center;
    background-size: cover;
}

.pass-area .card {
    width: 80px;
    height: 120px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555;
}

.hand .selectedCard {
    padding-bottom: 20px;
}

ul.hand {
    list-style: none;
}

.board {
    border: 1px solid black;
    height: 800px; /* Can I make this more dynamic later?*/
    width: 1200px;
}

.board-row {
    height: 30%;
}

.board-row div {
    float: left;
}

.board-side {
    width: 15%;
}

.board-middle {
    width: 70%;
}

.board-middle table {
    margin: auto;
}