.hand .card-shape {
    width: 64px;
    height: 96px;
    margin-left: -40px;
}


.hand-vertical .card-shape {
    width: 96px;
    height: 64px;
    margin-top: -40px;
    margin-left: 0px;
}

.hand-vertical .card-spacer {
    width: 96px;
    height: 64px;
    margin-top: -40px;
    border: 0px;
    margin-left: 0px;
}

div.hand-vertical {
    width: 96px;
    margin-top: 30px;
    margin-left: 0px;
}

.card-shape {
    width: 64px;
    height: 96px;
}

.card-selected {
    margin-top: -16px;
    margin-bottom: 16px;
}

.sidebar .header {
    font-size: large;
}

.play-area .left {
    top: 96px;
    left: 16px;
}

.play-area .top {
    top: 16px;
    left: 160px;
}

.play-area .right {
    top: 64px;
    left: 360px;
}

.play-area .bottom {
    top: 208px;
    left: 240px;
}

div.hand {
    margin-bottom: 16px;
}

div .activehand {
    box-shadow: -16px 0px 30px 10px greenyellow;
}

div .activehandvertical {
    box-shadow: 0px -20px 30px 10px greenyellow;
}