.hand .card-shape {
    width: 80px;
    height: 120px;
    margin-left: -40px;
}

.hand-vertical .card-shape {
    width: 120px;
    height: 80px;
    margin-top: -50px;
}

.hand-vertical .card-spacer {
    width: 120px;
    height: 80px;
    margin-top: -50px;
    border: 0px;
}

ul.hand-vertical {
    margin-top: 30px;
}

.card-shape {
    width: 80px;
    height: 120px;
}

.card-selected {
    margin-top: 20px;
}