.hand .card-shape {
    width: 80px;
    height: 120px;
    margin-left: -40px;
}

.hand-vertical .card-shape {
    width: 120px;
    height: 80px;
    margin-top: -50px;
    margin-left: 0px;
}

.hand-vertical .card-spacer {
    width: 120px;
    height: 80px;
    margin-top: -50px;
    border: 0px;
    margin-left: 0px;
}

div.hand-vertical {
    width: 120px;
    margin-left: 0px;
}

.card-shape {
    width: 80px;
    height: 120px;
}

.card-selected {
    margin-top: -20px;
    margin-bottom: 20px;
}

.sidebar .header {
    font-size: x-large;
}

.play-area .left {
    top: 120px;
    left: 20px;
}

.play-area .top {
    top: 20px;
    left: 200px;
}

.play-area .right {
    top: 80px;
    left: 450px;
}

.play-area .bottom {
    top: 260px;
    left: 300px;
}

div.hand {
    margin-bottom: 20px;
}

div .button-row {
    margin-bottom: 20px;
}

div .activehand {
    box-shadow: -20px 0px 40px 10px greenyellow;
}

div .activehandvertical {
    box-shadow: 0px 0px 40px 10px greenyellow;
}